### AGENDA

* BUILT IN FUNCTIONS 
* USER DEFINED FUNCTIONS
* LAMBDA FUNCTIONS
* FUNCTION WITH DEFAULT ARGUMENTS 
* LOOPS CONTROLS STATEMENT
* IF-ELSE PROGRAMS 
* REAL WORLD PROGRAMS

#####   Built-in Functions

In [ ]:
#built in function refer to pre-defined in python

* print()
* len() 
* type() 
* input()
* sum()
* max()
* min()
* sorted()

In [1]:
print("hello WTT")

hello WTT

In [2]:
i=10
print(i)

10

In [6]:
a="whitetabletechnology"
print(len(a))

20

In [8]:
a="wtt"
print(type(a))

<class 'str'>

In [9]:
i=10
print(type(i))

<class 'int'>

In [10]:
j = 130.4
print(type(j))

<class 'float'>

In [13]:
name = input("enter name")
print("hello",name)

enter namechetan
hello chetan

#### Addition  of two number entered by user

In [ ]:
a=int(input("enter first number"))
b=int(input("enter second number"))
result=("total number is", a + b)
result

#### Check number is even or odd

In [29]:
a= int(input("enter the number "))
if (a%2==0):
    print("even number")
else:
    print("odd number")

enter the number 25
odd number

#### Simple calculator

In [30]:
a=int(input("enter first number "))
b=int(input("enter second number"))
c=input("enter operatot(+,-,*,-):")

if c ==  '+':
    print("addition is", a + b)
elif c == '-':
    print("substraction is", a - b)
elif c == '*':
    print("multiplication is ", a * b)
elif c == '/':
    print("division is ", a/b)
else :
    print("invalid")

enter first number 4744
enter second number4785
enter operatot(+,-,*,-):+
addition is 9529

##### Word is palindrome or not

In [31]:
word =input("enter the word  ")
if word == word[::-1]:
    print("palindrome")
else :
    print("not palindrome")

enter the word  hhhh
palindrome

#### Sum , min , max

In [32]:
num = [3,4,5,5,4,3]
total =sum(num)
total

24

In [33]:
num = [3,4,5,5,4,3]
total =min(num)
total

3

In [34]:
num = [3,4,5,5,4,3]
total =max(num)
total

5

###### Sorting

In [35]:
a= [1,3,46,4,7,4,3,99]
b=sorted(a)
b

[1, 3, 3, 4, 4, 7, 46, 99]

In [36]:
names = ["Alice", "Bob", "Eve", "David"]
print(sorted(names))

['Alice', 'Bob', 'David', 'Eve']

In [38]:
a = [10, -12, 15, -5, 78, -6, 4, -6, 9]

pos = [x for x in a if x >=0]
neg =[x for x in a if x <0]

print("postive num",pos)
print("neg",neg)

postive num [10, 15, 78, 4, 9]
neg [-12, -5, -6, -6]

In [47]:
a = [10, -12, 15, -5, 78, -6, 4, -6, 9]
b = sorted(a)
b

[-12, -6, -6, -5, 4, 9, 10, 15, 78]

##### USER DEFINED FUNCTIONS

* FUNCTION WITH NO PARAMETER 
* FUNCTION WITH PARAMETER

In [48]:
def greet():
    print("hello")
greet()

hello

###### FUNCTION WITH PARAMETERS

In [51]:
def abc(x,y):
    return x + y
result =abc(5,6)
print("addition is ",result)

addition is  11

##### Lambda function

In [52]:
add = lambda a, b:a+b
print(add(3,5))

8

In [53]:
n = lambda a,b : a*b
print(n(75,98))

7350

In [ ]:
###v To find all even number using filter function

In [55]:
n = [2,4,5,6,7,8,9,10,6,8,9,5]
a = list(filter(lambda a: a%2==0,n))
a

[2, 4, 6, 8, 10, 6, 8]

##### Loops for pattern programs

In [57]:
rows=7
for i in range(1,rows+1):
    print("*"*i)

*
**
***
****
*****
******
*******

In [60]:
rows = 5
for i in range(rows,0,-1):
    print("*"*i)

*****
****
***
**
*

In [61]:
rows = 5
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2*i - 1))

    *
   ***
  *****
 *******
*********

#### if else grading sysytem

In [1]:
a = int(input("enter your marks  "))
if a >= 90:
    print("very good A ")
elif a>= 75:
    print("good Grade B")
elif a >=50:
    print("average grade c ")
elif a > 35:
    print("below average grade D")
else:
    print("fail try agian")

enter your marks  44
below average grade D

#### Online Shopping DIscount Logic

In [3]:
amt = int(input("enter amount"))
if amt >=1000:
    print("you earn 10% discount")
    dis = amt*0.10
else :
    print("no discount")
    dis = 0
print("amount to pay",amt-dis)

enter amount5000
you earn 10% discount
amount to pay 4500.0

##### ATM withdrawal simulation

In [4]:
attempt = 0
while attempt < 3:
    amt = int(input("enter amount"))
    print("amount withdrawal",amt)
    attempt+=1
else:
    print("max limit reached ")

enter amount100
amount withdrawal 100
enter amount1000
amount withdrawal 1000
enter amount4500
amount withdrawal 4500
max limit reached

#### Login system

In [1]:
correct_pass = "admin123"
for i in range(3):
    pwd=input("enter the password")
    if pwd==correct_pass:
        print("access granted")
        break
    else :
        print("not granted")

enter the passworddd
not granted
enter the passwordadmin123
access granted

### Email Format Checker

In [3]:
email = input("enter email")
if "@" in email and '.' in email:
    print("valid email")
else:
    print("invalid")

enter emailmyemail
invalid