### Python Basics Fundamentals

* Single and multiple line Comments
* Variable 
* Data Types 
* To convert data type
* Strings
* Operators 
* Functions
* Conditional Statement  
* Loops

### Single and Multiple Line Comments

In [3]:
## Comments use to make code more readble used # for single line command and "" for multi line comment

In [5]:
# this is comment 

a = 5 # this is comment a has value of 5 this is known as single line comment

In [6]:
"""
This is comment use more than one line 
written in ""
"""

print("hello world")

hello world

### Variables

In [7]:
## variable is name of memory location where value is stored

In [8]:
a = 3  # number

b= 'chetan' # string 

c= 34/6 # float 

print(a,b,c)

3 chetan 5.666666666666667

#### Multiple variable

In [12]:
a,b,c='abc','efg','WTT'

print(a)
print(b)
print(c)

abc
efg
WTT

#### Data types in python

* Numeric
* String 
* Boolean

#### Numeric

* int
* float 
* complex

In [15]:
x= 4    #integer 
y= 5.4  #float
z= 3j   # complex j imaginary

In [16]:
x,y,z

(4, 5.4, 3j)

#### Type checking

In [17]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

### Type Converting

In [18]:
## Int to float

In [20]:
a=float(4)
a

4.0

In [21]:
## float to interger 

b=int(3.3)
b

3

In [22]:
# string to integer

In [24]:
a = "10"
b = int(a)
b

10

In [26]:
# int to string

In [27]:
num = 1000
text = str(num)

print(text)
print(type(text))

1000
<class 'str'>

### String operations

In [ ]:
# string represent sequence of characters enclosed with single or double quates

In [28]:
a="abc"
a

'abc'

##### Concatination

In [32]:
a= "abc"
b= "xyz"
c=a+" "+b
c

'abc xyz'

##### Repetation  (repeaat string multiple times)

In [35]:
msg = "hello "
print(msg * 5)

hello hello hello hello hello

##### Indexing

In [39]:
a= "hello WTT"
print(a[0])
print(a[-1])

h
T

#### Slicing (taking subset from data )

In [44]:
text = "chetanWTT"
print(text[0:6]) #Start and end at number 
print(text[3:]) # start from 3 and take all
print(text[:4]) # till 4th all

chetan
tanWTT
chet

#### Length of string

In [45]:
msg = 'hello'
print(len(msg))

5

In [49]:
msg = " python programing basics "

print(msg.upper()) # convert into upper case  # data.function
print(msg.lower()) #convert into lower case 
print(msg.capitalize()) # capitalize
print(msg.replace("python","java"))  #replace value

 PYTHON PROGRAMING BASICS
 python programing basics
 python programing basics
 java programing basics

#### Operators

#### Arthmatic operators

In [50]:
a= 10
b=20

print(a+b) #addition
print(a-b)  # substraction 
print(a*b)   #multiplication
print(a/b)   #DIVISION 
print(a%b) # remainder

30
-10
200
0.5
10

#### Comparision operator

In [53]:
a= 5
b=10

print(a==b)
print(a!=b)
print(a<b)
print(a>b)
print(a>=b)
print(a<=b)

False
True
True
False
False
True

#### Logical Operator  (and & or)

In [54]:
x = 5
y = 4

print(x>y and y>3)
print(x>2 or y<5)

True
True

#### Assignment operator

In [61]:
a= 5

In [62]:
a= 5

a+=4
a

9

In [63]:
a-+4

5

In [64]:
a*=3

#### Functions

In [67]:
def abc():
    print("WTT")
abc() #calling function

WTT

In [68]:
def greet(name):
    print("hello",name)
greet("chetan")

hello chetan

In [69]:
def greet(yy):
    print("heeloo",yy)
greet("you are")

heeloo you are

In [70]:
def add(x,y):
    return x+y
r=add(4,5)
r

9

##### default parameters

In [72]:
def greet(name='yy'):
    print("hello",name)
greet()
greet('chetan')

hello yy
hello chetan

###### keyword arguments

In [73]:
def student(name,age):
    print("hello", name ,"you are age is",age)
student("chetan",23)

hello chetan you are age is 23

##### Lambda function

In [74]:
a=lambda x:x*x
print(a(4))

16

#### Conditional Statement

* IF statement
* If-else 
* Nested If
* elif

In [76]:
a= 10
if(a<5):
    print("less than 5")
a

10

#### if-else

In [77]:
a=4
if(a%400):
    print("leap year")
else :
    print("not leap ")

leap year

In [78]:
a= int(input("enter year"))
if(a%4):
    print("leap year")
else:
    print("not leap")

enter year2014
leap year

##### nested if

In [80]:
a= 400

if(a>100):
    if(a<500):
        print("valid")
else :
    print("not valid")

valid

In [83]:
a= 100

if (a>50):
    print("b")
elif(a>70):
    print("good")
elif (a<102):
    print("below")

b

#### Loops

In [84]:
for i in range(5):
    print(i)

0
1
2
3
4

In [89]:
i =10
while i<=5 :
    print(i)
    i+=1

##### break statement

In [90]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

#### continue statement

In [91]:
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4