#### Python Data Structures

* Python Collection Objects
* List
* Tuple
* Set
* Dictionary
* List Comprehension

## List

##### Creating list

In [2]:
ls = ["milk", "bread", "eggs"]
ls

['milk', 'bread', 'eggs']

#### Indexing

In [3]:
print(ls[1])

bread

##### Negative Access

In [5]:
print(ls[-1])

eggs

##### Slicing

In [7]:
print(ls[:2])

['milk', 'bread']

In [9]:
## Modifing Items

ls[1]= "butter"
ls

['milk', 'butter', 'eggs']

In [11]:
## Adding items append 

ls.append("chees")
ls

['milk', 'butter', 'eggs', 'chees', 'chees']

In [13]:
### inserting iteme

ls.insert(1,"coffee")
ls

['milk', 'coffee', 'coffee', 'butter', 'eggs', 'chees', 'chees']

In [15]:
### Extending List 

ls.extend(["jam","juice"])
ls

['milk',
 'coffee',
 'coffee',
 'butter',
 'eggs',
 'chees',
 'chees',
 'jam',
 'juice',
 'jam',
 'juice']

In [16]:
## Removing by Value

ls.remove("milk")
ls

['coffee',
 'coffee',
 'butter',
 'eggs',
 'chees',
 'chees',
 'jam',
 'juice',
 'jam',
 'juice']

In [17]:
### Removing by index pop 

ls.pop(0)
ls

['coffee', 'butter', 'eggs', 'chees', 'chees', 'jam', 'juice', 'jam', 'juice']

In [18]:
###### deleting with del
del ls[2]

In [19]:
### clearing the list 

ls.clear()

In [20]:
## finding the length 

len(ls)

0

In [21]:
## # soritng the list

marks = [10,20,50,30,60,80,40,50,60,70,70,40,70,80]
d=sorted(marks)
d

[10, 20, 30, 40, 40, 50, 50, 60, 60, 70, 70, 70, 80, 80]

In [23]:
### sorting in reverse

d.sort(reverse=True)
d

[80, 80, 70, 70, 70, 60, 60, 50, 50, 40, 40, 30, 20, 10]

In [24]:
### Reversing a list 

d.reverse()
d

[10, 20, 30, 40, 40, 50, 50, 60, 60, 70, 70, 70, 80, 80]

In [25]:
### copying a list 
backup = d.copy()
backup

[10, 20, 30, 40, 40, 50, 50, 60, 60, 70, 70, 70, 80, 80]

In [26]:
### Counting Occurance 

fruits = ["apple", "banana", "apple"]
fruits.count("apple")

2

In [27]:
## finding index 

fruits.index("banana")

1

#### How do you remove duplication from list

In [29]:
emails = ["a@example.com", "b@example.com", "a@example.com"]
unique_emails = list(set(emails))
print(unique_emails)

['b@example.com', 'a@example.com']

####  How can you reverse a list without using reverse()

In [30]:
orders = ["order1", "order2", "order3"]
reversed_orders = orders[::-1]
print(reversed_orders)

['order3', 'order2', 'order1']

####  How do you find the second largest number in a list?

In [31]:
scores = [90, 87, 99, 95]
scores = list(set(scores))  # remove duplicates
scores.sort()
print(scores[-2])

95

#### Write a Python program to count occurrences of each item in a list.

In [32]:
from collections import Counter

products = ["pen", "pen", "book", "pencil", "book"]
product_count = Counter(products)
print(product_count)

Counter({'pen': 2, 'book': 2, 'pencil': 1})

####   Write a program to find common elements between two lists.

In [33]:
inventory = ["pen", "book", "mouse"]
ordered = ["book", "mouse", "keyboard"]
common = list(set(inventory) & set(ordered))
print(common)

['mouse', 'book']

#### Write a program to separate even and odd numbers in a list.

In [34]:
numbers = [1, 2, 3, 4, 5, 6]
even = [n for n in numbers if n % 2 == 0]
odd = [n for n in numbers if n % 2 != 0]
print("Even:", even)
print("Odd:", odd)

Even: [2, 4, 6]
Odd: [1, 3, 5]

## Tuple

In [36]:
config = ("localhost", 8080)
config

('localhost', 8080)

In [37]:
## How do you access elements in a tuple?.

date = (2025, 6, 19)
print("Year:", date[0])
print("Month:", date[1])

Year: 2025
Month: 6

In [38]:
 #Can you convert a list to a tuple and vice versa?

guest_list = ["Alice", "Bob"]
final_guest_list = tuple(guest_list)
print(final_guest_list)

('Alice', 'Bob')

In [39]:
## How do you find the length, max, and min of a tuple?

marks = (88, 76, 92, 85)
print("Max:", max(marks))
print("Min:", min(marks))
print("Count:", len(marks))

Max: 92
Min: 76
Count: 4

In [40]:
# How to count occurrences of an element in a tuple?

responses = (1, 2, 1, 3, 1)
print(responses.count(1))

3

## SET

In [41]:
emails = ["a@x.com", "b@x.com", "a@x.com"]
unique_emails = set(emails)
print(unique_emails)

{'b@x.com', 'a@x.com'}

In [42]:
## How do you add and remove items in a set?

active_users = {"u1", "u2"}
active_users.add("u3")        # user u3 logs in
active_users.discard("u2")    # user u2 logs out
print(active_users)

{'u3', 'u1'}

In [43]:
# How do you find common elements between two sets?

registered = {"alice", "bob", "charlie"}
subscribers = {"bob", "diana"}
common = registered & subscribers
print(common)

{'bob'}

In [44]:
# How do you get all unique items from two collections (union)?

warehouse_a = {101, 102, 103}
warehouse_b = {103, 104}
all_products = warehouse_a | warehouse_b
print(all_products)

{101, 102, 103, 104}

In [45]:
# How do you remove all items from a set?

processed_orders = {5001, 5002, 5003}
processed_orders.clear()
print(processed_orders)

set()

## Dictionary

In [46]:
grades = {"Math": 90, "Physics": 85, "Chemistry": 92}
print(grades["Physics"])

85

In [47]:
 #How do you add or update an entry?

salaries = {"Alice": 70000, "Bob": 65000}
salaries["Charlie"] = 72000      # add
salaries["Bob"] = 68000          # update
print(salaries)

{'Alice': 70000, 'Bob': 68000, 'Charlie': 72000}

In [48]:
# How do you merge two dictionaries?

defaults = {"theme": "light", "notifications": True}
user_prefs = {"notifications": False, "font_size": 14}
combined = {**defaults, **user_prefs}
print(combined)

{'theme': 'light', 'notifications': False, 'font_size': 14}

In [49]:
products = [("pen", 1.5), ("notebook", 2.0), ("eraser", 0.5)]
price_map = {name: price for name, price in products}
print(price_map)

{'pen': 1.5, 'notebook': 2.0, 'eraser': 0.5}

In [50]:
# How do you handle missing keys automatically?

from collections import defaultdict

text = ["apple", "banana", "apple", "orange", "banana"]
count = defaultdict(int)
for word in text:
    count[word] += 1
print(dict(count))

{'apple': 2, 'banana': 2, 'orange': 1}

### List Comprehension

In [55]:
 # 1. Squares of Numbers (1–10)
squares = [x**2 for x in range(1, 11)]
print("1. Squares:", squares)

1. Squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [56]:
# 2. Filter Even Numbers from a list of customer IDs
customer_ids = [101, 202, 303, 404, 505]
evens = [cid for cid in customer_ids if cid % 2 == 0]
print("2. Even Customer IDs:", evens)

2. Even Customer IDs: [202, 404]

In [57]:
# 3. Conditional Expression: tag transactions as "high" or "low"
transactions = [250, 1200, 75, 980, 1500]
tags = ["high" if amt > 1000 else "low" for amt in transactions]
print("3. Transaction Tags:", tags)

3. Transaction Tags: ['low', 'high', 'low', 'low', 'high']

In [58]:
# 4. Extract email addresses from a list of user dicts
users = [
    {"id": 1, "email": "alice@example.com"},
    {"id": 2, "email": "bob@example.com"},
    {"id": 3, "email": "carol@example.com"}
]
emails = [user["email"] for user in users]
print("5. Emails:", emails)

5. Emails: ['alice@example.com', 'bob@example.com', 'carol@example.com']

In [59]:
# 5. Transpose a 3×3 matrix
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
transpose = [[row[i] for row in matrix] for i in range(len(matrix))]
print("7. Transposed Matrix:", transpose)

7. Transposed Matrix: [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [60]:
# 6. Remove vowels from product codes
product_codes = ["AX12B", "EO34I", "UL56O"]
no_vowels = [''.join(ch for ch in code if ch.lower() not in 'aeiou')
             for code in product_codes]
print("8. Codes without vowels:", no_vowels)

8. Codes without vowels: ['X12B', '34', 'L56']