# Working with Database

In [1]:
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp39-cp39-win_amd64.whl (16.4 MB)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0

## Establish Connection

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "Chetan@24",
    database = "df"

)

if mydb.is_connected():
    print("connected to mysql db")

connected to mysql db

### Create a Cursor and Execute SQL

In [5]:
cursor = mydb.cursor()

cursor.execute("CREATE TABLE IF NOT EXISTS users (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(100))")
cursor

#### Inserting Data & Fetching Data

In [19]:
cursor = mydb.cursor()

sql = "INSERT INTO users (name) VALUES (%s)"

values = [
    ('abc',),
    ('xyz',),
    ('rrr',),
    ('ddf',)
]

cursor.executemany(sql, values)
mydb.commit()
print(cursor.rowcount, "records inserted.")

cursor.execute("SELECT * FROM users")
for row in cursor.fetchall():
    print(row)

4 records inserted.
(1, 'abc')
(2, 'xyz')
(3, 'rrr')
(4, 'ddf')
(5, 'abc')
(6, 'xyz')
(7, 'rrr')
(8, 'ddf')
(9, 'abc')
(10, 'xyz')
(11, 'rrr')
(12, 'ddf')

####  Updated The Name

In [20]:
sql = "UPDATE users SET name = %s WHERE id = %s"
val = ("UpdatedName", 1)

cursor.execute(sql, val)
mydb.commit()
print(cursor.rowcount, "record(s) updated.")

1 record(s) updated.

### CRUD OPERATIONS

* CREATE
* READ
* UPDATE
* DELETE

### Create

In [21]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS users (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100)
)
""")

In [22]:
sql = "INSERT INTO users (name) VALUES (%s)"
values = [
    ('Alice',),
    ('Bob',),
    ('Charlie',)
]

cursor.executemany(sql, values)
mydb.commit()
print(cursor.rowcount, "records inserted.")

3 records inserted.

## Read

In [23]:
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'UpdatedName')
(2, 'xyz')
(3, 'rrr')
(4, 'ddf')
(5, 'abc')
(6, 'xyz')
(7, 'rrr')
(8, 'ddf')
(9, 'abc')
(10, 'xyz')
(11, 'rrr')
(12, 'ddf')
(13, 'Alice')
(14, 'Bob')
(15, 'Charlie')

## Update

In [24]:
sql = "UPDATE users SET name = %s WHERE id = %s"
val = ("UpdatedName", 1)  

cursor.execute(sql, val)
mydb.commit()
print(cursor.rowcount, "record(s) updated.")

0 record(s) updated.

## Delete

In [25]:
sql = "DELETE FROM users WHERE id = %s"
val = (2,)  
cursor.execute(sql, val)
mydb.commit()
print(cursor.rowcount, "record(s) deleted.")

1 record(s) deleted.