### Working With sqlite3

###### Import Module

In [1]:
import sqlite3

###### Create Database and Connection

In [2]:
conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()

###### Create Table

In [3]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS users(
     id INTEGER PRIMARY KEY,
     name TEXT NOT NULL,
     age INTERGER
)
""")
conn.commit()

###### Insert Record

In [4]:
cursor.execute("INSERT INTO users(name,age) VALUES(?,?)",("akshay",25))
cursor.executemany("INSERT INTO users(name,age)VALUES(?,?)",[("rahul",30),("sai",22)])
conn.commit()

##### Read Records

In [5]:
cursor.execute("SELECT * FROM users")
for row in cursor.fetchall():
    print(row)

(1, 'akshay', 25)
(2, 'rahul', 30)
(3, 'sai', 22)

##### Update Record

In [6]:
cursor.execute("UPDATE users SET age = 42 WHERE name ='sai'")
conn.commit()

##### Delete Record

In [8]:
cursor.execute("DELETE FROM users WHERE name ='sai'")
conn.commit()

#### Close Connection

In [9]:
conn.close()

### Students Details using Sqlite

######  Create Connection

In [10]:
import sqlite3 

conn = sqlite3.connect('student.db')
cursor = conn.cursor()

#### Create Table

In [11]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS student(
   id INTEGER PRIMARY KEY AUTOINCREMENT,
   name TEXT NOT NULL,
   age INTEGER,
   grade TEXT
)
''')

conn.commit()

#### Insert Records

In [12]:
cursor.execute("INSERT INTO student (name,age,grade) VALUES(?,?,?)",
               ("AMIT",20,"A"))
conn.commit()

#### Insert Multiple Records

In [13]:
student_data = [
    ("riya",19,"B"),
    ("karan",20,"A"),
    ("Neha",21,"C")
]

cursor.executemany("INSERT INTO student(name,age,grade) VALUES(?,?,?)",
                   student_data)
conn.commit()

##### Display Record

In [15]:
cursor.execute("SELECT * FROM student")
for row in cursor.fetchall():
    print(row)

(1, 'AMIT', 20, 'A')
(2, 'riya', 19, 'B')
(3, 'karan', 20, 'A')
(4, 'Neha', 21, 'C')

#### Close Connection

In [16]:
conn.close()

## Working with Flask

In [ ]:
## Flask is a lightweight and flexible web framework written in Python. It’s used to build web applications quickly and with minimal code. 
# Flask is considered a "micro" framework because it doesn't come with built-in tools like form handling or database abstraction—you add only what you need.

### Key Features of Flask:
* Simple and minimal: Easy to learn and use

* Flexible: Add extensions for ORM, authentication, forms, etc.

* Routing system: Maps URLs to Python functions

* Built-in development server

##### What Can You Build with Flask?
* Small web apps and dashboards

* RESTful APIs

* Backend services for mobile apps

* Prototypes or MVPs

* Admin panels and data viewers